body {
    background: #fff;
    color: #333;
    font-size: 110%;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-family: sans-serif;
    font-weight: normal;
}

header {
    font-family: sans-serif;
    margin-top: 3em;;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-top: 1em;
}

nav {
    font-size: 1.1em;
    color: #333;
    margin-top: .5em;
}


a:link, a:visited, a:active {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
    color:#888;
}

p.blurb {
    line-height: 1.5em;
}

ul {
    line-height: 1.5em;
}

#container {
    width: 700px;
    margin: auto;
}

header {
    text-align: right;
}

#content {
    margin-top: 2em;
    color: #888;
}